<<<<<<< HEAD
.image-outer{
    padding: 5px;
    border: 3px solid;
}

img{
    max-width: 350px;
}

textarea{
    width: 500px;
    height: 60px;
}

.delete{
    background-color:hsl(0, 92%, 51%);
    color:#ffe9e9;
    width: 100px;
    height: 25px;
}

.delete-comment{
    background-color:hsl(0, 92%, 51%);
    color:#ffe9e9;
    margin-bottom: 5px;
}

.empty-message{
    text-align: center;
}

.comment-single{
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-title{
    margin: 0px;
}

.comment-info{
    font-size: 11px;
    color: #292929;
    margin: 0px;
}

.comment-text{
    margin-top: 10px;
    margin-bottom: 0px;
=======
.image-outer{
    padding: 5px;
    border: 3px solid;
}

img{
    max-width: 350px;
}

textarea{
    width: 500px;
    height: 60px;
}

.delete{
    background-color:hsl(0, 92%, 51%);
    color:#ffe9e9;
    width: 100px;
    height: 25px;
}

.delete-comment{
    background-color:hsl(0, 92%, 51%);
    color:#ffe9e9;
    margin-bottom: 5px;
}

.empty-message{
    text-align: center;
}

.comment-single{
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment-title{
    margin: 0px;
}

.comment-info{
    font-size: 11px;
    color: #292929;
    margin: 0px;
}

.comment-text{
    margin-top: 10px;
    margin-bottom: 0px;
>>>>>>> 59d75798fccb30dbc98c57fd6043bdf9eb53f105
}